// Text-Decoration
.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

// flex helpers

.flex {
  display: flex;

  > *.full {
    flex: 1;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.space-around {
    justify-content: space-around;
  }

  &.column {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }
  &.justify-bottom {
    align-items: flex-end;
  }
}

.full {
  grid-column: 1/-1;
}

.rounded-full {
  border-radius: 100vw;
}

.space-between {
  justify-content: space-between;
}

.center {
  align-items: center;
}

.column {
  flex-direction: column;
}

.clean-list {
  margin: 0;
}

.border-bottom {
  border-bottom: 1px solid rgb(221, 221, 221);
}
