.main-layout {
  display: grid;

  > * {
    grid-column: 2;

    &.full {
      grid-column: 1 /-1;
    }
  }

  grid-template-columns: minmax(25px, 1fr) minmax(250px, $mobile-breakpoint) minmax(
      25px,
      1fr
    );

  @include for-desktop-layout {
    grid-template-columns: minmax(165px, 1fr) minmax(auto, $desktop-breakpoint) minmax(
        165px,
        1fr
      );
  }
}
