// Colors - Primary
$midnight-green: #014e56;
$light-coral: #F67E7E;
$white: #ffffff;

// Colors - Secondary
$rapture-blue: #79c8c7;
$dark-green: #002529;
$deep-jungle-green: #004047;
$sacramento-state-green: #012F34;
$police-blue: #2c6269;

// Breakpoints
$mobile-breakpoint: 605px;
$desktop-breakpoint: 1110px;

// Layout Edges
$desktop-edge: 165px;



$padded-m: $mobile-breakpoint + 2 * $pad-24;
$padded-d: $desktop-breakpoint + 2 * $desktop-edge;


